body{
	background-color: #F3f3f3;
}

article{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div.banner-article{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 100%;
	background-color: #e74c3c;
	flex-grow: 1;
}

.banner-article #banner-title{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	align-self: center;
	justify-content: center;
	text-shadow: -4px 4px #c0392b;
}

.info-article{
	position: absolute;
}

.content-article{
	display: flex;
	width: 50%;
	flex-direction: column;
	margin-bottom: 25px;
	padding: 15px;
}

.content-article h3{
	margin: 25px 0;
	text-align: center;
	color: #2c3e50;
}

.content-article p{
	line-height: 25px;
	font-size: 17px;
}

#hufflepuff{
	height: 25px;
}

#signature{
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

#signature:before{
	content: "- ";
}

footer{
	/*height: 50px;*/
	padding: 15px 0px;
}

