body{
	background-color: #f1f2f6;
}

#allArticle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 15px 50px;
	background-color: #fff;
	padding-bottom: 25px;
}

div.banner-article{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 100%;
	background-color: #e74c3c;
	flex-grow: 1;
}

.banner-article #banner-title{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	align-self: center;
	justify-content: center;
	text-shadow: -4px 4px #c0392b;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	/*margin: 15px 50px;*/
	width: 90%;
}

.info-article{
	align-self: flex-start;
	position: absolute;
	top: 300px;
	text-align: center;
}

.info-article p{
	font-size: 13px;
}

#author{
	width: 100px;
	border-radius: 50%;
	border: 5px solid white;
}

.content-article{
	display: flex;
	width: 80%;
	flex-direction: column;
	margin-bottom: 25px;
	padding: 0px;
}

.content-article h3{
	margin: 25px 0;
	text-align: center;
	color: #2c3e50;
}

.content-article p{
	line-height: 25px;
	font-size: 17px;
}

#img-article{
	align-self: center;
	text-align: center;
}

#hufflepuff{
	width: 150px;
}

#signature{
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

#signature:before{
	content: "- ";
}

#title-comment{
	font-size: 25px;
	font-weight: bold;
	align-self: flex-start;
	margin: 15px 15px 15px -50px;
	color: #000;
}

#comments{
	display: flex;
	width: 80%;
	flex-direction: column;
	margin: 15px;
	color: #000;
}

.commentaires{
	margin: 5px -55px;
	padding: 15px;
	background-color: #fff;
}

.commentaires:nth-child(even){
	border-left: 5px solid #e74c3c;
}

.commentaires:nth-child(odd){
	border-left: 5px solid #c0392b;
}

.name-comment{
	margin-bottom: 15px;
}

.date-comment{
	font-style: none;
	color: #777;
}

.add-comment{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 90%;
	margin: 15px;
}

.scroll{
	top: 250px;
}


footer{
	display: flex;
	padding: 15px;
	justify-content: center;
}

