body{
	background-color: #F3f3f3;
}

article{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #fff;
	margin: 15px 50px;
}

div.banner-article{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 100%;
	background-color: #e74c3c;
	flex-grow: 1;
}

.banner-article #banner-title{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	align-self: center;
	justify-content: center;
	text-shadow: -4px 4px #c0392b;
}

.info-article{
	align-self: flex-start;
	position: absolute;
	top: 300px;
	text-align: center;
}

.info-article p{
	font-size: 13px;
}

#author{
	width: 100px;
	border-radius: 50%;
	border: 5px solid white;
}

.content-article{
	display: flex;
	width: 80%;
	flex-direction: column;
	margin-bottom: 25px;
	padding: 15px;
}

.content-article h3{
	margin: 25px 0;
	text-align: center;
	color: #2c3e50;
}

.content-article p{
	line-height: 25px;
	font-size: 17px;
}

i{
	align-self: center;
	text-align: center;
}

#hufflepuff{
	width: 150px;
}

#signature{
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

#signature:before{
	content: "- ";
}

#comments{
	display: flex;
	width: 80%;
	flex-direction: column;
	border: 1px solid black;
	margin: 15px;
}

#title-comment{
	font-size: 25px;
	font-weight: bold;
	align-self: flex-start;
	margin-bottom: 15px;
	color: #000;
}

#comment1{
	background-color: #fff;
}

footer{
	padding: 25px 0px;
}

