
@media only screen and (max-width : 600px), screen and (max-device-width : 600px) {

  header{
    position: static;
  }
  
  .site-push nav{
    transform: translateX(0);
    transition: all .2s ease; 
  }

  .site-push .burger{
    transform: translateX(270px);
    transition: all .2s ease; 
  }

  .burger{
    display: inline-block;
    top: 5px;
    left: 5px;
    z-index: 110;
  }

  nav{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #1E2328;
    z-index: 9999;
    height: 100%;
    transform: translateX(-270px);
  }
  
  .nav-option, #code{
    display: block;
    text-align: center;
    border-top: 1px solid #333B44;
    margin: 0;
    padding: 20px 0;
    outline-style: none;
  }

  .nav-option:hover, #code:hover{
    margin-bottom: 2px;
  }
  
  .subnav-option-burger{
    display: none;
    text-align: center;
    color: #fff;
    text-decoration: none;
    list-style-type: square;
    justify-content: center;
    margin: 15px 0;
    outline-style: none;
    transform: translateY(-184px);
  }

  .subnav-option-burger-visible{
    display: flex;
    transform: translateY(0px);
  }

  .dropdown{
    display: none;
  }

  .dropdown-content .nav-option{
    display: none;
  }

  .fixed-nav{
    position: fixed;
  }

  #caption p{
    display: none;
  }

  #responsive{
    display: inline-block;
  }

  #box4{
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #box4 h2{
    position: inherit;
    align-self: center;
  }
  footer{
    width: 100%;
    padding-left: 0%;
    font-size: 12px;
  }
}

@media only screen and (max-width : 350px), screen and (max-device-width : 350px) {
}