*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
      font-family: "Lato";
      height: 100%;
      margin: 0;
      color: #777;
    }

header{
  position: relative;
  background-color: #282E34;
  color: #ddd;
  font-size: 20px;
  text-decoration: none;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  padding: 15px;
}

li a, .dropbtn{  
  display: inline-block;
  text-align: center;
  padding: 4px;
  color: #fff;
  text-decoration: none;
}

.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 9;
  background-color: #282E34;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  display: block;
  padding: 5px;
  text-align: left;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a:hover{
  background-color: #777;
}

.fa-sign-out-alt{
  top: 30%;
  right: 5%;
  position: absolute;
  color: #e74c3c;
}

li:first-child:hover a{
  border-top: 5px solid #e74c3c;
  margin-top: -5px;
}

li:nth-child(2):hover a{
  border-top: 5px solid #e67e22;
  margin-top: -5px;
}

a.dropbtn:hover{
  border-top: 5px solid #f1c40f;
  margin-top: -5px;
}

li:last-child:hover a{
  border-top: 5px solid #8e44ad;
  margin-top: -5px;
}

.bgimg-1 {
      position: relative;
      opacity: 1;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("img2.jpg");
      min-height: 100%;
    }

#caption{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

#caption p{
  font-size: 50px;
  color: #fff;
}
    
#box1{
  font-size: 17px;
  color: #777;
  background-color:white;
  text-align:center;
  padding: 50px 80px;
  text-align: justify;
}



#perspective{
  font-family: 'Lato';
  color: #fff;
  font-size: 37px;
}