:root{
    --red: #ff5747;
    --red-darker: #cb4539;

    --pink: #fa55ca;

    --blue-lighter: #40d7ff;
    --blue-light: #00ccff;
    --blue: #16bfff;
    --blue-dark: #129acd;
    --blue-darker: #1273cd;

    --navy: #4f74a5;
    --navy-darker: #223d56;

    --green: #2bdc33;
    --green-dark: #23b32a;
}

*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  font-family: "Lato";
  height: 100%;
  margin: 0;
  color: #777;
}

header{
  position: relative;
  background-color: #282E34;
  color: #ddd;
  font-size: 20px;
  text-decoration: none;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  padding: 15px;
}

li a, .dropbtn{  
  display: inline-block;
  text-align: center;
  padding: 4px;
  color: #fff;
  text-decoration: none;
}

.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 9;
  background-color: #282E34;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  display: block;
  padding: 5px;
  text-align: left;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a:hover{
  background-color: #777;
}

.fa-sign-out-alt{
  top: 30%;
  right: 5%;
  position: absolute;
  color: #e74c3c;
}

li:first-child:hover a{
  border-top: 2px solid #e74c3c;
  margin-bottom: -2px;
  margin-top: -2px;
}

li:nth-child(2):hover a{
  border-top: 2px solid #e67e22;
  margin-bottom: -2px;
  margin-top: -2px;
}

a.dropbtn:hover{
  border-top: 2px solid #f1c40f;
  margin-bottom: -2px;
  margin-top: -2px;
}

li:last-child:hover a{
  border-top: 2px solid #8e44ad;
  margin-bottom: -2px;
  margin-top: -2px;
}

.bgimg-1 {
      position: relative;
      opacity: 1;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("img2.jpg");
      min-height: 100%;
    }

#caption{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

#caption p{
  font-size: 50px;
  color: #fff;
  cursor: default;
}
    
#box1{
  font-size: 17px;
  color: #777;
  background-color:white;
  text-align:center;
  padding: 50px 80px;
}

#box1 h2{
  margin: -15px 0 15px 0;
}

#box2{
  padding: 50px 80px;
  background-color: #7f8c8d;
}

button{
  display: table-cell;
  position: relative;
  float: left;
  padding:20px;
  margin: auto;
  margin-top: -35px;
  margin-left: 9%;
  cursor:pointer;
  color: #fff;
  font-size:20px;
  background-color:transparent;
  border:2px solid #fff;
  overflow: hidden;
}

button:hover #btn-layer{
  top: 0px;
}

#btn-layer{
  width: 100%;
  left: 0;
  padding: 20px 0;
  background-color: var(--red);
  position: absolute;
  top: -90px;
  transition: top 0.5s ease;
}

footer{
  position:relative;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
